template(name='pushManager')
	h1.header-label.section-header(class='label-{{ getRiskLabel contentGroup.riskLevel }}') {{ website.name }} - {{ contentGroup.name }}
	.container-fluid
		.row
			.col-xs-12
				a.btn.btn-primary.push-content-button.pull-right(href='/edit-website-content-group/{{ websiteContext.slug }}/{{ contentGroupContext.slug }}') Content Group Overview
				h1 Push Content from 
					strong= contentGroup.name
					| to:
			.col-xs-6
				h2 Pages
				each contentGroup.supportedPages
					with getPage this
						.page.well
							.pull-right
								span.mellow-label Push To:
								.btn-group
									each groupOptions
										button.btn(class='btn-{{ getRiskLabel riskLevel }}')= name
							a(href='/edit-page-localization/{{ slug }}/{{ contentGroupContext.slug }}')
								h4= name
			.col-xs-6
				h2 Menus
				each contentGroup.supportedMenus
					with getMenu this
						.menu.well
							.pull-right
								span.mellow-label Push To:
								.btn-group
									each groupOptions
										button.btn(class='btn-{{ getRiskLabel riskLevel }}')= name
							a(href='/edit-menu-details/{{ slug }}/{{ contentGroupContext.slug }}')
								h4= name