template(name='breadcrumbs')
	ol.breadcrumb
		li
			a.admin-menu-toggle(href='#')
				span.glyphicon.glyphicon-cog
		li
			a(class='{{ isActivePath "/home" }}', href='/home') Home
		if websiteContext
			li
				a(class='{{ isActivePath "/website-details/:slug" }}', href='/website-details/{{ websiteContext.slug }}')= websiteContext.name
		if contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/edit-website-content-group/:website/:group" }}', href='/edit-website-content-group/{{ websiteContext.slug }}/{{ contentGroupContext.slug }}')= contentGroupContext.name
		if regionContext and contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/regions" }}', href='/regions#{{ regionContext.slug }}')= regionContext.name
		if languageContext and regionContext and contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/languages" }}', href='/languages#{{ languageContext.slug }}')= languageContext.name


template(name='shortBreadcrumbs')
	h1= subMenuContext
	ol.breadcrumb
		li
			a(class='{{ isActivePath "/home" }}', href='/home') Home
		if websiteContext
			li
				a(class='{{ isActivePath "/website-details/:slug" }}', href='/website-details/{{ websiteContext.slug }}')= websiteContext.name
		if contentGroupContext and websiteContext
			li
				a(class='{{ isActivePath "/edit-website-content-group/:website/:group" }}', href='/edit-website-content-group/{{ websiteContext.slug }}/{{ contentGroupContext.slug }}')= contentGroupContext.name